@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
  z-index: 9990;
  max-width: 100%;
}

.lookup-button {
  font-size: 16px !important; 
  line-height: 24px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
}

.query-name{
  font-size: 30px !important; 
  line-height: 36px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: bold !important;
}


.bio{ 
  font-size: 16px !important; 
  line-height: 24px !important;
  font-family: 'Inter', sans-serif !important;
}


button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
